@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body {
    font-family:fantasy;
    margin: auto;
    width: 75%;
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}