h1 {
    display: block;
    font-size: 100px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
div img{
    width: 100%;
}
h1{
    margin: 40px auto;
    font-family:fantasy;
    font-size: 90px;
    text-align: center;
    letter-spacing: 5px;
}
select {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    outline: none;
    -webkit-appearance: none;
    font: 14px 'Open Sans', sans-serif;
    cursor: pointer;
    min-width: 256px;
    padding: 8px 16px;
    border-radius: 3px;
  }